<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
        <title>ToDo List</title>
        <!-- <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1"> -->
		<link rel="stylesheet" href="../myCSS.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="" async defer></script>

        <header class="myHeader">
            <h1 class="padding-el">Your ToDo List</h1>
        </header>
		<div class="myPanel">
			<div style="padding: 30px 15px;">
				<input type="button" class="submit margin-el" style="width:100% !important;" value="Add task" onclick="window.location.href='list'" />
			</div>
		</div>
		<div class="myContent">
			<ul style="list-style-type:none;">
				<li><div class="myTaskEl"><div class="myTaskBody">				
					<input type="button" class="edit" value="Edit" onclick="window.location.href='edit'" />
					<span class="padding-el myTaskHeader">Your ToDo Task 1</span>
				</div></div></li>
				<li><div class="myTaskEl"><div class="myTaskBody">
					<input type="button" class="edit" value="Edit" onclick="window.location.href='edit'" />
					<span class="padding-el myTaskHeader">Your ToDo Task 2</span>
				</div></div></li>
				<li><div class="myTaskEl"><div class="myTaskBody">
					<input type="button" class="edit" value="Edit" onclick="window.location.href='edit'" />
					<span class="padding-el myTaskHeader">Your ToDo Task 3</span>
				</div></div></li>
				<li><div class="myTaskEl"><div class="myTaskBody">
					<input type="button" class="edit" value="Edit" onclick="window.location.href='edit'" />
					<span class="padding-el myTaskHeader">Your ToDo Task 4</span>
				</div></div></li>
				<li><div class="myTaskEl"><div class="myTaskBody">
					<input type="button" class="edit" value="Edit" onclick="window.location.href='edit'" />
					<span class="padding-el myTaskHeader">Your ToDo Task 5</span>
				</div></div></li>
				<li><div class="myTaskEl"><div class="myTaskBody">
					<input type="button" class="edit" value="Edit" onclick="window.location.href='edit'" />
					<span class="padding-el myTaskHeader">Your ToDo Task 6</span>
				</div></div></li>
				<li><div class="myTaskEl"><div class="myTaskBody">
					<input type="button" class="edit" value="Edit" onclick="window.location.href='edit'" />
					<span class="padding-el myTaskHeader">Your ToDo Task 7</span>
				</div></div></li>
				<li><div class="myTaskEl"><div class="myTaskBody">
					<input type="button" class="edit" value="Edit" onclick="window.location.href='edit'" />
					<span class="padding-el myTaskHeader">Your ToDo Task 8</span>
				</div></div></li>
				<li><div class="myTaskEl"><div class="myTaskBody">
					<input type="button" class="edit" value="Edit" onclick="window.location.href='edit'" />
					<span class="padding-el myTaskHeader">Your ToDo Task 9</span>
				</div></div></li>
			</ul>
		</div>
    </body>
</html>