<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="answer" class="ru.otus.spring01.dao.PollingAnswer" scope="prototype"/>
    <bean id="question" class="ru.otus.spring01.dao.PollingQuestion" scope="prototype"/>
    <bean id="result" class="ru.otus.spring01.dao.PollingResultImpl"/>

    <bean id="reader" class="ru.otus.spring01.services.CSVReader">
        <constructor-arg index="0" value="/anketa.csv"/>
        <constructor-arg index="1" ref="result"/>
    </bean>

    <bean id="exam" class="ru.otus.spring01.services.ConsolePolling">
        <constructor-arg ref="result"/>
    </bean>
</beans>